<!DOCTYPE html>
<html lang="en">
<!-- Design by foolishdeveloper.com -->

<head>

    <title>HomeFlow</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form *ngIf="user">
        <h3>Hello {{ user.firstname}}</h3>

        <label for="first-name">First Name : {{ user.firstname }}</label>
        <label for="first-name">Last Name : {{ user.lastname }}</label>


        <label for="email">Email : {{ user.email }}</label>

        <label for="homes">Your Homes</label>


        <label for="addHome">Add you home</label>
        <button type="submit" routerLink="/addhome">Add Home</button>


        <button type="submit" routerLink="/home">Home Page</button>


    </form>
</body>

</html>
