<!DOCTYPE html>
<html lang="en">
<!-- Design by foolishdeveloper.com -->

<head>

    <title>Homemanager</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="nav">
        <div class="logo">HomeFlow</div>
        <button routerLink="/login">Log in</button>
        <button routerLink="/register">Register</button>
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
</body>
