<!DOCTYPE html>
<html lang="en">
<!-- Design by foolishdeveloper.com -->

<head>

    <title>Homemanager Register</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Register here</h3>
        <label for="first-name">First Name</label>
        <input type="text" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}" placeholder="First Name" id="first-name">


        <label for="last-name">Last Name</label>
        <input type="text" [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}" placeholder="Last Name" id="last-name">

        <label for="username">Username</label>
        <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Email" id="username">


        <label for="password">Password</label>
        <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password" id="password">

        <button (click)="userRegister()" class="btn">Register</button>

    </form>


</body>

</html>